html {
	position: relative;
	min-height: 100%;
}

body {
  margin: 0 0 100px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Use media queries to change styles based on screen size */
@media only screen and (max-width: 600px) {
	/* Make your website's content container narrower on smaller screens */
	.content {
	  width: 90%;
	  margin: 0 auto;
	  text-size-adjust: 100%;
	}
 
	/* Change the font size of text on smaller screens */
	body {
	  font-size: 16px;
	}
 
	/* Stack navigation links vertically on smaller screens */
	.navigation {
	  display: block;
	}
	.navigation a {
	  display: block;
	  margin: 10px 0;
	}
} 